<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thêm mới</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <h1>Thêm mới</h1>
  <form action="/create" method="post" enctype="multipart/form-data">
    Họ tên: <input type="text" id="User" name="User" required> <br>
    Email: <input type="email" id="Email" name="Email" required> <br>
    Năm sinh: <input type="date" id="BirthYear" name="BirthYear"> <br>
    Nghề Nghiệp: <select id="Job" name="Job">
      <option value="Dev">Dev</option>
      <option value="Driver">Driver</option>
      <option value="Teacher">Teacher</option>
    </select> <br>
    Avatar: <input type="file" name="avatar">
    <button type="submit" >Thêm mới</button>
  </form>
</body>
<script>
  let fd = new FormData();
  let data = {
    IMG : getFileUpload(),
    User: $('#User').val(),
    Pass: "1",
    Email: $("#Email").val(),
    BirthYear: $("#BirthYear").val(),
    Job: $("#Job").val(),
  }

  for(let key in data){
    const value = data[key];
    fd.append(key, value);
  }

  function createUser() {
    axios.defaults.withCredentials = true;
    axios.post('/create', fd,
      {
        header: {
          "Content-Type": false,
        },
      }
    ).then(response => {
      location.replace("/");
    }).catch(response => {
      $("#result").html(response.data).css('color', 'red');
    });
  }

  function getFileUpload(e) {
    return e.target.files[0]
  }
</script>

</html>