<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <title>Main page</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
  <header class="flex-bet">
    <h1>Quản lý nhân sự 0.4</h1>
    <div>
      {{ if .authinfo }}
      <span>Welcome {{ .authinfo.User }}</span>
      <a href="javascript:logout()">Logout</a>
      {{ else }}
      <span>Bạn chưa đăng nhập?</span>
      <a href="/logform">Login</a>
      {{ end }}
    </div>
  </header>


  <table>
    <thead>
      <tr>
        <th>
          Họ tên
        </th>
        <th>Năm sinh</th>
        <th>Email</th>
        <th>Nghề nghiệp</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {{ if .authinfo }}
      {{range .infolist}}
      <tr>
        <td>
          <label for="{{.ID}}">
          <img src="uploads/1.png" alt="" srcset="">
          </label>
          {{.User}}
        </td>
        <td>{{.BirthYear}}</td>
        <td>{{.Email}}</td>
        <td>{{.Job}}</td>
        <td>
          <form action="/modify/upload/{{ .ID }}" method="post" enctype="multipart/form-data">
            <input type="file" id="{{.ID}}" name="filename" style="display: none">
            <button type="submit">Cập nhật avt</button>
          </form>
          <a href="/modify/{{ .ID }}">Chỉnh sửa</a>
          <a href="/delete/{{ .ID }}" style="cursor: pointer;">Xóa</a>
        </td>
      </tr>
      {{end}}
      <tr>
        <td>
          <a href="/create">
            <h4>Thêm người</h4>
          </a>
        </td>
      </tr>
      {{ else }}
      {{range .infolist}}
      <tr>
        <td>
          <img src="../uploads/1.png" alt="" srcset="">
          {{.User}}</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td></td>
      </tr>
      {{end}}
      {{ end }}
    </tbody>
  </table>


  <script>
    function logout() {
      axios.defaults.withCredentials = true;
      axios.get('/logoutjson').then(response => {
        location.reload();
      }).catch(response => {
        $("#result").html(response.data).css('color', 'red');
      });
    }
  </script>
  <style>
    body {
      max-width: 800px;
      margin: auto;
    }

    table {
      width: 100%;
    }

    td {
      text-align: center;
    }

    img {
      width: 50px;
      height: 50px;
    }

    .flex-bet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  </style>
</body>

</html>