<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <title>Chỉnh sửa</title>
</head>

<body>
  <h1>Chỉnh sửa</h1>
  <form action="/modify" method="post" enctype="multipart/form-data">
    <input style="display: none" type="text" name="ID" value="{{.data.ID}}">
    Họ tên: <input type="text" id="User" name="User" value="{{.data.User}}" required> <br>
    Email: <input type="email" id="Email" name="Email" value="{{.data.Email}}" required> <br>
    <!-- Năm sinh: <input type="text" id="BirthYear" name="BirthYear"value="{{.data.BirthYear}}"> <br> -->
    Năm sinh: <input type="date" id="BirthYear" name="BirthYear"value="{{.data.BirthYear}}"> <br>
    Nghề Nghiệp: <select id="Job" name="Job">
      <option value="{{.data.Job}}">{{.data.Job}}</option>
      <option value="Dev">Dev</option>
      <option value="Driver">Driver</option>
      <option value="Teacher">Teacher</option>
    </select> <br>
    Avatar: <input type="file" name="avatar" option>
    <button type="submit">Sửa</button>
  </form>
</body>
<script>

  function modifyUser() {
    axios.defaults.withCredentials = true;
    axios.post('/modify', {
      ID: getId(),
      User: $('#User').val(),
      Pass: "1",
      Email: $("#Email").val(),
      BirthYear: $("#BirthYear").val(),
      Job: $("#Job").val(),
    }).then(response => {
      location.replace("/");
    }).catch(response => {
      $("#result").html(response.data).css('color', 'red');
    });
  }

  function getId() {
    let id = +window.location.href.substring(window.location.href.lastIndexOf('/') + 1);
    console.log(id);
    return id;
  }
</script>

</html>